@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&display=swap");

body {
  font-family: var(--font-family-text);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-headers);
  font-weight: var(--font-weight-bold);
}

h1 {
  font-size: var(--font-size-header-lg);
}

.debug-container {
  border: 2px dashed black;
}
